<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

    <title>Gerenciador de Produtos</title>
</head>
<body>


    <div class="container">
        <h2><b>Cadastrar Produtos</b></h2>
        <label for="product"><b>Produto</b></label>
        <input type="text" placeholder="Nome do produto" name="nome" required>

        <label for="quantity">Quantidade</label>
        <input type="number" placeholder="Quantidade" name="quantidade" required>

        <label for="preco">Preço</label>
        <input type="number" placeholder="Preço"  name="preco" required>

        <button type="submit" id="btnSalvarProduto" onclick="salvarProduto()">Salvar</button>

        <button type="button"><a href="/">Voltar</a></button>
    </div>



</body>
</html>