<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Gerenciador de Produtos</title>
</head>
<body>

<div class="container">
    <h2><b>Cadastrar Produtos</b></h2>
    <form action="/cadastroProduto" method="POST">
        <label for="product"><b>Produto</b></label>
        <input type="text" placeholder="Nome do produto" name="nome" required>

        <label for="quantity">Quantidade</label>
        <input type="number" placeholder="Quantidade" name="qtde" required>

        <label for="preco">Preço</label>
        <input type="number" placeholder="Preço" step="0.01" name="preco" required>

        <button type="submit">Salvar</button>

        <button type="button"><a href="/">Voltar</a></button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
